# Change File Name to config.env

API_ID = "17718356"
API_HASH = "fe2dec8e960bf8dcb4e4820d81fe7d46"
BOT_TOKEN = "5989527178:AAGE13kpv859YYecSJr_wSL3oARV0I9DFUM"
TO_CHATS = "-1001759084765"
FROM_CHATS = "-1001860802362"
ADVANCE_CONFIG = "-1001759084765 -1001860802362"
TELEGRAM_SESSION = "BQCf3ZJRphYVxJOGlvDIY29BPwTKR9RKYxJgJX_gNqDLZPA80z_9R1qOuA1aTbDxU7RomZXwDh4_6SC6fux7PGn_mLsVjX-m6xuV3uXPK4r4XRNVwvpv9O8RnDyMMWr8UsXX8dO5T3MgepIPa0RZCQRQ94KccoobX_VEjv2hzgeQ3t-skRwZZLTTJpa-NFN3_mrfLNcB8IA7HTMNi4nlzT5Ljbom-dtlHbQoM9Bau3ozyW16DgCYhrss3DwERrWoi022YK_0iOqpvLn0mBEwr3Eox9oinZHbLIk792XOyMX5lkh9526C1JIj-SdayRkpvtRzXNYpFoFWAMkqWTjxUHk0AAAAAVre2SwA"
